{%extends 'base.html' %}
{%block main%}
<style>
.message {
	margin:2px;
	padding:10px;
	background-color:#f8f8f8;
	border:1px solid #e8e8e8;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
var leftchat = true;
var chatid = {{chat_room.chat_id}};
function LoadUsers(){ //start function
	$.getJSON( "/userlist/"+chatid, function( data ) {
		var items = [];
		var lastitem = parseInt($("#usernames div:last-child").attr("id"));
		if (lastitem !== lastitem) {
			var lastitem = 0;
		}
		$.each( data, function( key, val ) {
			if ( key > lastitem ) {
				$("#usernames").append("<div class='user' id='" + key + "'>"+"<h4 class='text-center' style='border-bottom: 2px dotted #ECF0F1;margin-top:30px;'><a>" + val.online_users + "</a></h4></div>");
				$('#bottom').scrollTop($('#bottom').prop("scrollHeight"));
				$(window).scrollTop($(document).height());
			};
		});
	});
    setTimeout(LoadUsers, 5000);
};
function LoadMessages(){ //start function
	$.getJSON( "/message/"+chatid, function( data ) {
		var items = [];
		var lastitem = parseInt($("#showdata div:last-child").attr("id"));
		if (lastitem !== lastitem) {
			var lastitem = 0;
		}
		$.each( data, function( key, val ) {
			if (val.msg) {
				var str = val.msg;
			    var search = str.search(" ")
			}
			if ( key > lastitem ) {
		    	if ( (search == -1) || (search > 30) ) {
				    newVal = str.replace(/(.{25})/g, "$1\n");
					$("#showdata").append("<div class='row message' id='" + key + "'>"+"<p><span class='col-md-3 col-xs-4'>"+val.user+"</span>" + "<span class='col-md-7 col-xs-8'>" + newVal + "</span><small class='col-md-2 col-xs-12 text-right'>"+ val.time + "</small></p></div>");
				}
				else {
					$("#showdata").append("<div class='row message' id='" + key + "'>"+"<p><span class='col-md-3 col-xs-4'>"+val.user+"</span>" + "<span class='col-md-7 col-xs-8'>" + val.msg + "</span><small class='col-md-2 col-xs-12 text-right'>"+ val.time + "</small></p></div>");
				}
				$('#bottom').scrollTop($('#bottom').prop("scrollHeight"));
				$(window).scrollTop($(document).height());
			};
		});
	});
    setTimeout(LoadMessages, 5000);
};
function postAjax(){
    $.ajax({
        type:"POST",
        url:"/message/"+chatid,
        data: {
               csrfmiddlewaretoken : "{{csrf_token}}",
               text: $('#send').val() // from form
               },
        success: function(){
            LoadMessages();
            $('#send').val('')
        }
    });
    return false; //<---- move it here
}
$(document).ready(function(){
	$('#bottom').scrollTop($('#bottom').prop("scrollHeight"));
	$(window).scrollTop($(document).height());
	LoadMessages();
	LoadUsers();
	$(window).bind('beforeunload', function() {
    if (leftchat == true){
    	console.log("lalala")
    	}
	});
}); 
</script>
	<div class="container" style="margin-top:5em;">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel panel-heading text-center">
						<h4>{{chat_room.usernames | length}} Users Online</h4>
					</div>
					<div class="panel panel-body" style="height:17em;overflow:scroll;padding:10px;">
						<table class="table" id="usernames">

						</table>
					</div>
					<div class"panel panel-footer">
						<form action="/changeuser/{{chat_room.chat_id}}/" method="GET" role="changeUsername">						{%csrf_token%}
							<div class="input-group">
								<input type="text" name="user" class="form-control" placeholder="Change Username">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-info" style="height:28em;position:relative;">
					<div class="panel-heading text-center">
						<h4>Welcome to {{chat_room.chat_name}}
							<strong class="pull-right">
        						{% ifequal chat_room.usernames|length 2 %}
   									<a href="/delete/{{chat_room.chat_id}}">DeleteChat</a>
								{%endifequal%}
							</strong>
						</h4>
					</div>
					<div id="bottom" class="panel-body" style="height:19em;overflow:auto;">
						<div id="showdata">
						</div>
						<form onSubmit="return false;" enctype="multipart/form-data">
						{%csrf_token%}
							<div class="input-group" style="position:absolute;bottom:0;left:0px;">
						  		<input type="text" autocomplete="off" name="send" id="send" class="form-control" placeholder="Enter Message">
						  		<span class="input-group-btn">
						    		<button class="btn btn-default" onclick="postAjax()">Send</button>
						  		</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}