{%extends 'base.html' %}
{%block main%}
	<div>
		<div class="jumbotron row" width="100%">
			<h2 class="text-center" style="margin-bottom:140px;"><span class="grey">Welcome to SecureChat</span></h2>
			<form action="add_chat/" method="POST" name="ChatName" class="list-inline row col-md-8 col-xs-12 col-md-pull-2 col-md-push-2">
				{%csrf_token%}
				<input class="col-md-8 col-xs-12 text-center" placeholder="Example: #ChatName" name="ChatName">
				<button type="submit" class="btn btn-danger btn-xs col-md-4 col-xs-12">Enter</button>
			</form>
		</div>
	</div>
{%endblock%}